{
    "plugins": [
        ["@babel/plugin-transform-arrow-functions"],
        ["@babel/plugin-transform-classes"],
        ["@babel/plugin-proposal-decorators", { "legacy": true }],
        ["@babel/plugin-transform-runtime",
            {
              "absoluteRuntime": true,
              "corejs": 2,
              "helpers": true,
              "regenerator": true,
              "useESModules": false
            }
        ]
    ],
    "presets": [
        ["@babel/preset-env",{"debug":true,"useBuiltIns": "usage"}],
        ["@babel/preset-react"]
    ]
}